<script id="tmpl-EaselJSForceClusterSlider" type="text/html">
    <div class="EaselJSForceClusterSlider easelJSContainer">
        <div class="clusterChart"></div>
        <div class="contact-info"></div>
    </div>
</script>
