<script id="EaselJSForceClusterSlider" type="text/html">
    <div class="EaselJSForceClusterSlider easelJSContainer">
        <div class="clusterChart">
            <canvas class="clusterChart-canvas"></canvas>
        </div>
        <div class="contact-info"></div>
    </div>
</script>
