<script id="MainView" type="text/html">
    <div class="MainView">
        <div class="topBarContainer">

        </div>

        <section class="MainView-content">
          <div class="index">
            <h2>PostgreSql Full Text Search Demo</h2>

            <form class="form-horizontal searchForm" action="search">
                <div class="control-group">
                    <div class="controls">
                        <input type="text" name="q" placeholder="search keywords">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn">Search</button>
                        <button class="btn import">Import</button>
                    </div>
                </div>
            </form>
           </div>
        </section>
    </div>
</script>