<script id="ReportHeader" type="text/html">
	<div class="ReportHeader">
        <div class="ControlBar">
        	<div class="toolItems">
				<div class="toolbar-item">
					<label>Level: </label> 
					<div class="toolbar-item-content showLevel">
						<input type="text" class="span2" data-slider-min="1" data-slider-max="4" data-slider-value="1" value="1" id="sl1" >
					</div>
				</div>
				<div class="toolbar-item">
					<label>Zoom: </label> 
					<div class="toolbar-item-content zoom">
						<input type="text" class="span2" data-slider-min="40" data-slider-max="200" data-slider-value="100" data-slider-step="20" value="100" id="sl2" >
					</div>
				</div>
				<div class="toolbar-item">
					<label>Speed: </label> 
					<div class="toolbar-item-content speed">
						<input type="text" class="span1" value="500" onKeypress="if (event.keyCode < 48 || event.keyCode > 57) event.returnValue = false;">
					</div>
				</div>
				<div class="toolbar-item">
					<label>Use RAF: </label> 
					<div class="toolbar-item-content useRAF">
						<input type="checkbox" checked="true"/>
					</div>
				</div>
				<div class="toolbar-button">
					<button class="btn btn-small btn-primary" type="button">New Data</button>
				</div>
			</div>
        </div>
	</div>
</script>