<script id="TagCluster" type="text/html">
	<div class="TagCluster" >
	    <div class="TagCluster-header"></div>
		<div class="TagCluster-main"></div>
	</div>
</script>
<script id="TagCluster-addTag" type="text/html">
    <div class="toolbar-item  ">
        <label>Add Tag: </label>
        <div class="toolbar-item-content addTag">
        <input type="text"/>
            <button class="btn btn-small">Add</button>
        </div>
    </div>
</script>
