<script id="TopBar" type="text/html">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="/">Search Demo</a>
            <ul class="nav">
                <li data-component="Search"><a href="#">Search</a></li>
                <li data-component="ContactCluster"><a href="#">ContactCluster</a></li>
                <li data-component="TagCluster"><a href="#">TagCluster</a></li>
            </ul>
        </div>
    </div>
</script>
